@use "../../../styles/breakpoints" as *;
@use "../../../styles/typography" as *;

.footer {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  padding: 8px 16px 88px 16px;
  position: relative;
  width: 100%;
  z-index: 10;

  @include desktop {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2vh 10vw;
  }

  &::before {
    backdrop-filter: blur(16px);
    content: "";
    inset: 0;
    position: absolute;
    z-index: -1;
  }

  .footer_logo {
    align-items: center;
    display: none;
    left: 10vw;
    position: absolute;
    text-decoration: none;

    @include desktop {
      display: flex;
    }

    .footer_logo_img {
      display: block;
      height: max(3vw, 48px);
      width: max(3vw, 48px);
    }
  }

  .footer_bottom {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 6px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    padding-top: 16px;

    @include desktop {
    }

    .footer_bottom_mail {
      @include text-h4;
      margin-right: auto;
      text-decoration: underline;
      text-decoration-color: rgba(255, 255, 255, 0.08);
      text-underline-offset: 0.18vw;

      @include desktop {
        @include text-small;
      }

      &:hover {
        text-decoration-color: rgba(255, 255, 255);
      }
    }

    .footer_bottom_link {
      color: #fff;
      display: flex;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }

      & > svg {
        height: max(1.4vw, 24px);
        width: max(1.4vw, 24px);
      }
    }
  }

  .footer_grid {
    display: flex;
    flex-direction: column;
    gap: max(1vw, 16px);
    width: 100%;
    margin: 0 16px;

    .footer_grid_projects {
      display: grid;
      gap: max(0.8vh, 12px) max(0.8vw, 12px);
      grid-template-columns: 1fr 1fr;
      width: 100%;
      margin: 0 auto;

      @include desktop {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 40%;
      }

      .footer_grid_projects_title {
        @include text-h4;
        grid-column: span 2;

        @include desktop {
          @include text-small;
          grid-column: span 3;
        }
      }

      .footer_grid_projects_tooltip {
        display: inline;
        max-width: max-content;
        min-width: max-content;
        position: relative;

        &:nth-child(odd) {
          max-width: unset;

          > .footer_grid_projects_tooltip_container {
            right: 0;

            @include desktop {
              right: auto;
            }
          }
        }

        .footer_grid_projects_tooltip_text {
          @include text-small;
          display: flex;
          max-width: max-content;
          position: relative;
          text-decoration: underline;
          text-decoration-color: rgba(255, 255, 255, 0.08);
          text-underline-offset: 0.18vw;

          .footer_grid_projects_tooltip_text_arrow {
            background: linear-gradient(
              135deg,
              transparent 0%,
              transparent 50%,
              rgba(255, 255, 255, 0.12) 50%,
              rgba(255, 255, 255, 0.12) 100%
            );
            height: 8px;
            left: 0;
            margin: 0 auto;
            opacity: 0;
            position: absolute;
            right: 0;
            top: -8px;
            transform: rotate(45deg);
            visibility: hidden;
            width: 8px;

            @include desktop {
              top: -0.8vh;
              height: 0.8vh;
              width: 0.8vh;
            }
          }
        }

        .footer_grid_projects_tooltip_container {
          border-radius: 0.75vw;
          bottom: 18px;
          color: var(--neutral-white-100);
          display: flex;
          height: 180px;
          max-width: calc(100vw - 32px);
          min-height: 180px;
          opacity: 0.01;
          padding-bottom: 4px;
          position: absolute;
          visibility: hidden;
          z-index: 1;

          @include desktop {
            bottom: max(0.7vw, 18px);
            height: max(16vh, 180px);
            left: 50%;
            max-width: none;
            padding-bottom: 0.4vh;
            transform: translateX(-50%);
          }

          .footer_grid_projects_tooltip_container_content {
            backdrop-filter: blur(16px);
            background: rgba(255, 255, 255, 0.04);
            border-radius: max(0.5vw, 8px);
            border: 1px solid rgba(255, 255, 255, 0.08);
            display: flex;
            gap: 0 max(0.5vw, 8px);
            height: 100%;
            padding: max(0.5vw, 8px);

            .footer_grid_projects_tooltip_container_content_image {
              aspect-ratio: 16 / 12;
              border-radius: max(0.25vw, 4px) 0 0 max(0.25vw, 4px);
              overflow: hidden;
              width: 50vw;

              @include desktop {
                aspect-ratio: 16/9;
                width: 100%;
              }

              > img {
                aspect-ratio: inherit;
                transition: transform 0.3s ease;
                width: 100%;

                &:hover {
                  transform: scale(1.05);
                }
              }
            }

            .footer_grid_projects_tooltip_container_content_info {
              aspect-ratio: 1/1.5;
              display: flex;
              flex-direction: column;
              height: 100%;

              @include tablet {
                aspect-ratio: 1/1;
              }

              .footer_grid_projects_tooltip_container_content_info_icon {
                color: var(--neutral-gray2-100);
                height: 16px;
                margin-right: 4px;
                width: 16px;

                @include desktop {
                  height: max(1vw, 16px);
                  margin-right: max(0.25vw, 4px);
                  width: max(1vw, 16px);
                }
              }

              .footer_grid_projects_tooltip_container_content_info_title {
                @include text-caption;
                color: var(--neutral-white-100);
                font-weight: 500;
                margin-bottom: max(0.2vw, 4px);
              }

              .footer_grid_projects_tooltip_container_content_info_description {
                @include text-tiny;
                color: var(--neutral-gray2-100);
              }

              .footer_grid_projects_tooltip_container_content_info_links {
                display: flex;
                gap: 0 max(0.5vw, 8px);
                justify-content: flex-end;
                margin-top: auto;
                min-height: 16px;
                width: 100%;

                > a {
                  color: var(--neutral-gray3-100);
                  height: 1vw;

                  > svg {
                    height: 16px;
                    transition: transform 0.3s ease;
                    width: 16px;

                    &:hover {
                      transform: scale(1.1);
                    }

                    @include desktop {
                      height: max(1vw, 16px);
                      width: max(1vw, 16px);
                    }
                  }
                }
              }
            }
          }
        }
      }

      .footer_grid_projects_tooltip:hover > .footer_grid_projects_tooltip_container {
        opacity: 1;
        visibility: visible;
      }

      .footer_grid_projects_tooltip:hover
        > .footer_grid_projects_tooltip_text
        > .footer_grid_projects_tooltip_text_arrow {
        opacity: 1;
        visibility: visible;
      }

      .footer_grid_projects_tooltip:hover .footer_grid_projects_tooltip_text {
        color: var(--primary-green-100);
        text-decoration-color: #fff;
      }
    }
  }
}
