@use "../../../styles/breakpoints" as *;
@use "../../../styles/typography" as *;

.footer {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 48px 16px 120px 16px;
  position: relative;
  width: 100%;
  z-index: 10;

  @include desktop {
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vh 10vw;
  }

  &::before {
    backdrop-filter: blur(16px);
    content: "";
    inset: 0;
    position: absolute;
    z-index: -1;
  }

  .footer_col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .footer_col_logo {
      align-items: center;
      display: flex;
      text-decoration: none;

      .footer_col_logo_img {
        display: block;
        height: max(3vw, 48px);
        width: max(3vw, 48px);
      }
    }

    .footer_col_title {
      @include text-caption;
      color: var(--neutral-white-100);
      font-weight: 500;
      margin-bottom: max(0.2vw, 4px);
    }

    .footer_link {
      text-decoration: underline;
      text-decoration-color: rgba(255, 255, 255, 0.08);
      text-underline-offset: 0.18vw;

      &:hover {
        text-decoration-color: rgba(255, 255, 255);
      }
    }
  }

  .footer_grid {
    display: flex;
    flex-direction: column;
    gap: max(1vw, 16px);
    width: 100vw;

    .projects {
      display: grid;
      gap: max(0.8vh, 12px) max(0.8vw, 12px);
      grid-template-columns: 1fr 1fr;
      width: 100%;
      margin: 0 auto;

      @include desktop {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 40%;
      }

      .footer_grid_projects_title {
        grid-column: span 2;

        @include desktop {
          grid-column: span 3;
        }
      }

      .projects_tooltip {
        display: inline;
        max-width: max-content;
        min-width: max-content;
        position: relative;

        &:nth-child(odd) {
          max-width: unset;

          > .projects_tooltip_container {
            right: 0;

            @include desktop {
              right: auto;
            }
          }
        }

        .projects_tooltip_text {
          display: flex;
          max-width: max-content;
          position: relative;
          text-decoration: underline;
          text-decoration-color: rgba(255, 255, 255, 0.08);
          text-underline-offset: 0.18vw;

          .projects_tooltip_text_arrow {
            background: linear-gradient(
              135deg,
              transparent 0%,
              transparent 50%,
              rgba(255, 255, 255, 0.12) 50%,
              rgba(255, 255, 255, 0.12) 100%
            );
            height: 8px;
            left: 0;
            margin: 0 auto;
            opacity: 0;
            position: absolute;
            right: 0;
            top: -8px;
            transform: rotate(45deg);
            visibility: hidden;
            width: 8px;

            @include desktop {
              top: -1.4vh;
              height: 0.8vh;
              width: 0.8vh;
            }
          }
        }

        .projects_tooltip_container {
          border-radius: 0.75vw;
          color: var(--neutral-white-100);
          display: flex;
          height: 180px;
          min-height: 180px;
          opacity: 0.01;
          padding-bottom: 4px;
          position: absolute;
          top: -180px;
          visibility: hidden;
          max-width: calc(100vw - 32px);
          z-index: 1;

          @include desktop {
            inset-inline: 16px auto;
            left: 50%;
            right: auto;
            transform: translateX(-50%);

            inset-inline: auto;
            left: 50%;
            max-width: none;
            padding-bottom: 1vh;
            right: auto;
            height: 16vh;
            top: -16vh;
          }

          .projects_tooltip_container_content {
            backdrop-filter: blur(16px);
            background: rgba(255, 255, 255, 0.04);
            border-radius: max(0.5vw, 8px);
            border: 1px solid rgba(255, 255, 255, 0.08);
            display: flex;
            gap: 0 max(0.5vw, 8px);
            height: 100%;
            padding: max(0.5vw, 8px);

            .projects_tooltip_container_content_image {
              aspect-ratio: 16 / 12;
              border-radius: max(0.25vw, 4px) 0 0 max(0.25vw, 4px);
              overflow: hidden;
              width: 100%;

              @include desktop {
                aspect-ratio: 16/9;
              }

              > img {
                aspect-ratio: inherit;
                transition: transform 0.3s ease;
                width: 100%;

                &:hover {
                  transform: scale(1.05);
                }
              }
            }

            .projects_tooltip_container_content_info {
              aspect-ratio: 1/1.5;
              display: flex;
              flex-direction: column;
              height: 100%;

              @include tablet {
                aspect-ratio: 1/1;
              }

              .projects_tooltip_container_content_info_icon {
                color: var(--neutral-gray2-100);
                height: 16px;
                margin-right: 4px;
                width: 16px;

                @include desktop {
                  height: max(1vw, 16px);
                  margin-right: max(0.25vw, 4px);
                  width: max(1vw, 16px);
                }
              }

              .projects_tooltip_container_content_info_title {
                @include text-caption;
                color: var(--neutral-white-100);
                font-weight: 500;
                margin-bottom: max(0.2vw, 4px);
              }

              .projects_tooltip_container_content_info_description {
                @include text-tiny;
                color: var(--neutral-gray2-100);
              }

              .projects_tooltip_container_content_info_links {
                display: flex;
                gap: 0 max(0.5vw, 8px);
                justify-content: flex-end;
                margin-top: auto;
                min-height: 16px;
                width: 100%;

                > a {
                  color: var(--neutral-gray3-100);
                  height: 1vw;

                  > svg {
                    height: 16px;
                    transition: transform 0.3s ease;
                    width: 16px;

                    &:hover {
                      transform: scale(1.1);
                    }

                    @include desktop {
                      height: max(1vw, 16px);
                      width: max(1vw, 16px);
                    }
                  }
                }
              }
            }
          }
        }
      }

      .projects_tooltip:hover > .projects_tooltip_container {
        opacity: 1;
        visibility: visible;
      }

      .projects_tooltip:hover > .projects_tooltip_text > .projects_tooltip_text_arrow {
        opacity: 1;
        visibility: visible;
      }

      .projects_tooltip:hover .projects_tooltip_text {
        color: var(--primary-green-100);
        text-decoration-color: #fff;
      }
    }
  }
}
