* {
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  outline: none;
  padding: 0;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
  border-radius: 4px;
}

button {
  background: none;
}

/* ---------------------------------- ( NAVBAR ) ---------------------------------- */

#navbar {
  align-items: center;
  background-color: rgb(255, 255, 255);
  display: flex;
  height: 56px;
  justify-content: center;
  left: 0;
  padding: 0 calc((100vw - 1200px) / 2);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

#navbar::after {
  background: url("assets/bg.svg") bottom center;
  color: rgb(0, 136, 255);
  content: "";
  fill: rgb(26, 136, 231);
  height: 20px;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
}

.nav_logo {
  align-items: center;
  display: flex;
  height: 56px;
  justify-content: start;
  margin-left: 8px;
  margin-right: 100px;
  padding: 8px;
  width: 56px;
}

.nav_logo_img {
  aspect-ratio: 1/1;
  width: 100%;
}

.nav_list {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  z-index: 10;
}

.nav_header_mobile,
.nav_logo_mobile {
  display: none;
}

.nav_item {
  display: flex;
  height: 100%;
}

.nav_link {
  align-items: center;
  border-top: 2px solid transparent;
  color: rgb(0, 0, 0);
  display: flex;
  font-size: 20px;
  font-weight: 500;
  margin: 8px;
  padding: 0 10px;
  text-decoration: none;
  transition: scale 0.3s ease;
}

.active {
  border-top: 2px solid rgb(0, 0, 0);
  scale: 1.1;
}

.nav_right_container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin-right: 8px;
}

.nav_select_menu {
  cursor: pointer;
  margin-right: 8px;
  position: relative;
  width: 100px;
  z-index: 10;
}

.nav_select {
  align-items: center;
  background-color: transparent;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: flex;
  font-size: 16px;
  height: 100%;
  justify-content: flex-end;
  transition: scale 0.3s ease;
  width: 100px;
}

.nav_select_img {
  height: 24px;
  width: 24px;
}

.nav_options_list {
  background-color: #f9f9f9;
  height: 0;
  margin-top: 14px;
  overflow-y: auto;
  overflow: hidden;
  padding: 0 20px;
  position: absolute;
}

.nav_option {
  font-size: 14px;
  font-weight: 500;
  padding: 8px 0;
  transition: scale 0.3s ease;
}

.activeLanguage {
  height: auto;
}

.nav_btn_darkmode {
  align-items: center;
  background-color: rgb(255, 165, 0);
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  height: 24px;
  justify-content: space-between;
  width: 48px;
}

.nav_svg_moon {
  fill: rgb(250, 250, 250);
  margin-left: 3px;
}

.nav_svg_sun {
  fill: rgb(255, 255, 0);
  margin-right: 3px;
}

.nav_moon_or_sun {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 50%);
  height: 20px;
  position: absolute;
  transition: transform 0.3s ease;
  width: 20px;
}

.menu_btn,
.menu_btn2 {
  display: none;
}

/* ---------------------------------- SECTION 1 ( HOME ) ---------------------------------- */

#home {
  align-items: center;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 176px 16px 112px 16px;
  position: relative;
}

#home::after {
  background: url("assets/bg.svg") bottom center;
  content: "";
  height: 20px;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
}

.home_title {
  color: rgb(0, 0, 0);
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 8px;
}

.home_subtitle {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 400;
}

.home_social {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 16px;
}

.home_social_link {
  align-items: center;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.home_social_img {
  height: 32px;
  transition: scale 0.3s ease;
  width: 32px;
}

.home_btn {
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  border: 1px solid rgb(220, 220, 220);
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  gap: 8px;
  height: 48px;
  justify-content: center;
  margin-top: 32px;
  outline: none;
  padding: 8px 16px;
  text-decoration: none;
  transition: scale 0.3s ease;
}

/* ---------------------------------- SECTION 2 ( ABOUT ) ---------------------------------- */

#about {
  align-items: center;
  background: linear-gradient(180deg, rgb(245, 248, 245) 0%, rgb(255, 255, 255) 100%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 112px 16px;
}

.about_container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.about_left_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  width: 100%;
}

.about_title {
  color: rgb(0, 0, 0);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}

.about_left_info {
  align-items: center;
  display: flex;
  line-height: 2;
  margin-bottom: 16px;
  width: 100%;
}

.about_left_list {
  margin-bottom: auto;
}

.about_left_item {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.about_left_info p {
  color: rgb(0, 0, 0);
  margin-left: 8px;
  margin-top: 4px;
}

.about_left_info h3 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 500;
  margin-left: 4px;
}

.about_left_img {
  border-radius: 4px;
  height: 35vw;
  max-height: 200px;
  max-width: 200px;
  width: 35vw;
}

.about_text {
  margin-bottom: 32px;
}

.about_experience_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 16px;
  width: 100%;
}

.about_experience_title {
  color: rgb(0, 0, 0);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}

.about_experience_text {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  margin: 0 12px 16px 0;
}

.about_experience_text_bold {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: 700;
  gap: 4px;
  margin-bottom: 4px;
  text-wrap: balance;
  width: 90%;
}

.about_experience_text_bold_span {
  align-items: center;
  display: flex;
  gap: 4px;
  justify-content: center;
}

.about_experience_container_span_compa {
  align-items: center;
  border-left: 2px solid;
  border-right: 2px solid;
  display: flex;
  justify-content: center;
  padding-left: 4px;
}

.about_experience_container_link {
  align-items: center;
  display: flex;
  height: 16px;
  margin: 0 8px;
  text-decoration: none;
  width: 16px;
}

.about_experience_container_icon {
  height: 16px;
  transition: scale 0.3s ease;
  width: 16px;
}

.about_right_container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: space-between;
  max-width: 232px;
  width: 100%;
}

.about_right_img {
  animation: breathe 2s ease-in-out infinite;
  height: 100px;
  width: 100px;
}

@keyframes breathe {
  0%,
  100% {
    scale: 1;
  }
  50% {
    scale: 1.05;
  }
}

/* ---------------------------------- SECTION 3 ( PROJECTS ) ---------------------------------- */

#projects {
  align-items: center;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 112px 16px;
  position: relative;
}

#projects::after {
  background: url("assets/bg.svg") bottom center;
  content: "";
  height: 20px;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
}

.projects_container {
  align-items: center;
  background-color: rgb(230, 235, 230);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  max-width: 960px;
  min-height: 530px;
  overflow: hidden;
  position: relative;
  width: calc(100vw - 32px);
}

.projects_title {
  color: rgb(0, 0, 0);
  font-size: 32px;
  font-weight: 700;
  margin-top: 16px;
  text-align: center;
}

.projects_list {
  background-color: rgb(230, 235, 230);
  cursor: grab;
  display: flex;
  list-style: none;
  margin: 0 auto;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  width: 100%;
}

.projects_list::-webkit-scrollbar {
  display: none;
}

.project {
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  margin: 16px;
  max-width: 960px;
  position: relative;
  scroll-snap-align: center;
  user-select: none;
  width: calc(100vw - 32px);
}

.project_img {
  border-radius: 4px 0 0 4px;
  height: 410px;
  max-width: 728px;
  pointer-events: none;
  width: 100vw;
}

.project_info {
  display: flex;
  flex-direction: column;
  height: 340px;
  justify-content: center;
  max-width: 200px;
  padding: 16px;
  width: 50vw;
}

.project_number {
  color: rgb(0, 0, 0);
  position: absolute;
  right: 0;
  top: 0;
}

.project_technology_img {
  height: 24px;
  margin-right: 2px;
  width: 24px;
}

.project_title {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}

.project_technologies {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
}

.project_description {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
  text-wrap: balance;
}

.project_links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: auto 0 0 0;
  padding: 0;
}

.project_link {
  align-items: center;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 400;
  justify-content: center;
  max-width: 64px;
  text-align: center;
  text-decoration: none;
  transition: scale 0.3s ease;
}

.project_link_svg {
  color: rgb(0, 0, 0);
  height: 40px;
  width: 40px;
}

.projects_touch_scroll_animation {
  animation: scroll 4s ease-out infinite;
  background: rgba(255, 255, 255, 0.7) url(assets/grab.svg) center/38px no-repeat;
  border-radius: 50%;
  bottom: 0;
  cursor: grab;
  height: 48px;
  pointer-events: none;
  position: absolute;
  right: 324px;
  top: 248px;
  width: 48px;
  z-index: 5;
}

.projects_buttons_container {
  display: flex;
  justify-content: space-between;
  padding: 0 16px 16px 16px;
  width: 100%;
}

.projects_button {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(220, 220, 220);
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  height: 48px;
  outline: none;
  transition: scale 0.3s ease;
}

.projects_button_img {
  height: 100%;
  width: 96px;
}

@keyframes scroll {
  0%,
  15%,
  100% {
    background-image: url(assets/grab.svg);
    transform: translateX(0);
  }
  30%,
  45% {
    background-image: url(assets/grabbing.svg);
    transform: translateX(0);
  }
  60% {
    background-image: url(assets/grabbing.svg);
    transform: translateX(-458px);
  }
  75%,
  90% {
    background-image: url(assets/grab.svg);
    transform: translateX(-458px);
  }
}

/* ---------------------------------- SECTION 4 ( CONTACT ) ---------------------------------- */

#contact {
  align-items: center;
  background-color: rgb(245, 248, 245);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 32px 16px;
}

.contact_container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 16px;
  max-width: 1200px;
  width: 100%;
}

.contact_form {
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  max-width: 500px;
  min-height: 300px;
  padding: 8px 16px;
  width: 100%;
}

.contact_title {
  color: rgb(0, 0, 0);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 8px;
  text-align: center;
}

.contact_label {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 500;
}

.contact_input {
  border-radius: 4px;
  border: 1px solid rgb(220, 220, 220);
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  height: 20%;
  margin-bottom: 8px;
  max-height: 48px;
  outline: none;
  padding: 8px;
  width: 100%;
}

.contact_textarea {
  border-radius: 4px;
  border: 1px solid rgb(220, 220, 220);
  font-size: 16px;
  font-weight: 400;
  height: 100%;
  margin-bottom: 8px;
  outline: none;
  padding: 8px;
  resize: none;
  width: 100%;
}

.contact_status_btn_container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
  width: 100%;
}

.contact_status {
  font-size: 16px;
  font-weight: 400;
  width: 60%;
}

.contact_btn {
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  border: 1px solid rgb(220, 220, 220);
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  height: 100%;
  max-height: 48px;
  outline: none;
  padding: 8px 16px;
  transition: scale 0.3s ease;
  width: 40%;
}

.contact_social {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  width: 232px;
}

.contact_social_link {
  align-items: center;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.contact_social_img {
  height: 60px;
  transition: scale 0.3s ease;
  width: 60px;
}

@media screen and (max-width: 1024px) {
  #about {
    padding-top: 48px;
  }

  .about_title {
    font-size: 24px;
  }

  .about_experience_title {
    font-size: 24px;
  }

  #projects {
    padding: 56px 16px 16px 16px;
  }

  .projects_container {
    border-left: 4px solid rgb(230, 235, 230);
    border-right: 4px solid rgb(230, 235, 230);
    max-width: 964px;
  }

  .project {
    border-radius: 0;
    flex-direction: column;
    margin: 8px 0;
  }

  .project_img {
    border-radius: 0;
    height: calc((100vw - 40px) * 0.5625);
    max-width: 956px;
    width: calc(100vw - 40px);
  }

  .project_info {
    height: 100%;
    max-width: 956px;
    padding: 8px;
    position: relative;
    width: calc(100vw - 40px);
  }

  .projects_title {
    font-size: 24px;
  }

  .project_title {
    font-size: 24px;
  }

  .project_description {
    font-size: 16px;
  }

  .project_link_svg {
    height: 48px;
    width: 48px;
  }

  .projects_touch_scroll_animation {
    animation-duration: 2.5s;
    background-image: url(assets/touch.svg);
    right: 16px;
    top: 128px;
  }

  .projects_buttons_container {
    padding: 0 0 8px 0;
  }

  @keyframes scroll {
    0% {
      opacity: 0;
      transform: translateX(0);
    }
    30% {
      opacity: 1;
      transform: translateX(0);
    }
    80%,
    100% {
      transform: translateX(-110vw);
    }
  }

  .dark .projects_container {
    border-left: 4px solid rgb(22, 22, 22);
    border-right: 4px solid rgb(22, 22, 22);
  }
}

@media screen and (max-width: 790px) {
  .home_title {
    font-size: 36px;
  }

  .home_subtitle {
    font-size: 20px;
  }

  .home_social {
    gap: 12px;
  }

  #navbar {
    background-color: transparent;
    justify-content: space-between;
  }

  #navbar::after {
    display: none;
  }

  .nav_logo {
    display: none;
  }

  .nav_header_mobile {
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    padding: 8px 16px 8px 8px;
    position: relative;
    width: 100%;
  }

  .menu_btn2 {
    display: block;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }

  .nav_list {
    align-items: flex-start;
    background-color: rgb(245, 248, 245);
    border-left: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: -8px 2px 16px 15px rgba(245, 248, 245, 0.1);
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 100%;
    justify-content: flex-start;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(140%);
    transition: transform 0.3s ease;
    width: 300px;
  }

  .nav_list_active {
    transform: translateX(0%);
  }

  .nav_logo_mobile {
    align-items: center;
    display: flex;
    height: 56px;
    justify-content: center;
    padding: 8px;
    width: 56px;
  }

  .nav_item {
    height: unset;
    margin-left: 32px;
  }

  .nav_link {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 16px;
    padding: 0;
    width: 100%;
  }

  .active {
    border-bottom: 2px solid rgb(0, 0, 0);
    border-top: 2px solid transparent;
  }

  .nav_right_container {
    height: 40px;
    margin: 0 0 0 16px;
  }

  .nav_btn_darkmode {
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 16px;
  }

  .nav_select_menu {
    width: auto;
    z-index: 1;
  }

  .nav_select {
    background-color: rgb(220, 220, 220);
    height: 40px;
    padding: 0 4px 0 8px;
    width: auto;
  }

  .nav_options_list {
    background-color: rgb(220, 220, 220);
  }

  .menu_btn {
    background-color: rgb(220, 220, 220);
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: block;
    height: 40px;
    margin: 0 16px 0 0;
    width: 40px;
  }

  .nav_mobile_mask {
    background-color: rgba(0, 0, 0, 0.9);
    height: 100vh;
    inset: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.1s ease-in-out;
    visibility: hidden;
    width: 100vw;
    z-index: 9;
  }

  .nav_mobile_mask_active {
    opacity: 0.9;
    visibility: visible;
  }

  .about_container {
    flex-direction: column;
    justify-content: center;
  }

  .about_right_container {
    max-width: 500px;
  }

  .about_right_img {
    width: 15vw;
    height: 15vw;
    max-width: 64px;
    max-height: 64px;
  }

  .contact_container {
    flex-direction: column;
    justify-content: center;
  }

  .contact_form {
    max-width: 100%;
  }

  .contact_social {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 16px;
    width: auto;
  }

  .contact_social_link {
    width: auto;
  }

  .contact_social_link:nth-child(4) {
    width: 100%;
  }
}

@media screen and (max-width: 460px) {
  .about_experience_container_span_compa {
    border-left: 0;
    padding-left: 0;
  }
}

@media (pointer: fine) {
  .nav_link:hover,
  .nav_select:hover,
  .nav_option:hover,
  .home_social_img:hover,
  .home_btn:hover,
  .about_experience_container_icon:hover,
  .project_link:hover,
  .projects_button:hover,
  .contact_btn:hover,
  .contact_social_img:hover {
    scale: 1.1;
  }

  .projects_list:active {
    cursor: grabbing;
  }

  .contact_social_link:hover {
    color: rgb(0, 0, 0, 0.6);
  }

  .dark .contact_social_link:hover {
    color: rgba(255, 255, 255, 0.6);
  }
}

.d_none {
  display: none;
}

.dark body {
  background-color: rgb(0, 0, 0);
}

.dark body::-webkit-scrollbar {
  background-color: rgb(0, 0, 0);
}

.dark body::-webkit-scrollbar-thumb {
  background-color: rgb(100, 100, 100);
}

.dark .nav_link,
.dark h1,
.dark h2,
.dark h3,
.dark p,
.dark svg,
.dark label,
.dark .home_btn,
.dark .about_title,
.dark .about_subtitle,
.dark .project_link {
  color: rgb(250, 250, 250);
}

.dark .active {
  border-top: 2px solid rgb(250, 250, 250);
}

.dark .nav_moon_or_sun {
  transform: translateX(28px);
}

.dark .nav_btn_darkmode {
  background-color: rgb(0, 90, 255);
}

.dark #navbar,
.dark .nav_select,
.dark #home,
.dark .home_btn,
.dark #projects,
.dark .project,
.dark .projects_button,
.dark .contact_form,
.dark .contact_input,
.dark .contact_textarea,
.dark .contact_btn {
  background-color: rgb(0, 0, 0);
  color: rgb(250, 250, 250);
}

.dark .contact_social_link {
  color: rgb(250, 250, 250);
}

.dark .home_btn,
.dark .projects_button,
.dark .contact_input,
.dark .contact_textarea,
.dark .contact_btn {
  border: 1px solid rgb(35, 35, 35);
}

.dark .projects_container,
.dark .projects_list {
  background-color: rgb(22, 22, 22);
  fill: rgb(250, 250, 250);
}

.dark #about {
  background: linear-gradient(180deg, rgb(22, 22, 22) 0%, rgb(0, 0, 0) 100%);
}

.dark .menu_btn,
.dark .nav_options_list,
.dark .nav_option {
  background-color: rgb(55, 55, 55);
}

.dark #contact {
  background-color: rgb(22, 22, 22);
}

.dark .nav_select_img,
.dark .home_social,
.dark .about_right_img:nth-child(2),
.dark .projects_button_img,
.dark .project_technology_img,
.dark #navbar::after,
.dark #home::after,
.dark #projects::after {
  filter: invert(1);
}

@media screen and (max-width: 790px) {
  .dark #navbar {
    background-color: transparent;
    justify-content: space-between;
  }

  .dark .active {
    border-bottom: 2px solid rgb(255, 255, 255);
    border-top: none;
  }

  .dark .nav_header_mobile {
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  }

  .dark .nav_list {
    background-color: rgb(22, 22, 22);
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: -8px 2px 16px 15px rgba(22, 22, 22, 0.4);
  }

  .dark .nav_select {
    background-color: rgb(55, 55, 55);
  }
}
