:root {
  --primary-purple-100: #d834ff;
  --primary-blue-100: #0a84ff;
  --primary-green-100: #4ee39d;
  --primary-green-40: #4ee39d66;
  --primary-red-100: #ff496a;

  --neutral-white-100: #fff;
  --neutral-gray1-100: #ebebf5;
  --neutral-gray2-100: #acacb5;
  --neutral-gray3-100: #5f6377;
  --neutral-gray4-100: #464957;
  --neutral-gray5-100: #333345;
  --neutral-black-100: #000;

  --background-blueblack: #07071c;

  --gradient-brand-color1: #00fed0;
  --gradient-brand-color2: #00b3ec;

  --gradient-purple-color1: #9756ff;

  --gradient-red-color1: #fd0f82;
  --gradient-red-color2: #ff5555;

  --gradient-green-color1: #41afc7;
}

@font-face {
  font-family: "Codec cold";
  src: url("../fonts/Codec-Cold-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Codec cold";
  src: url("../fonts/Codec-Cold-Light.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Biennale";
  src: url("../fonts/Biennale-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: var(--primary-green-100) var(--neutral-black-100);
  scrollbar-width: thin;

  /* scroll-timeline: --page-scroll block; */
}

body {
  background-color: var(--neutral-black-100);
  color: var(--neutral-gray2-100);
  font-family: "Codec cold", sans-serif;
  line-height: 1.5;
  min-width: 360px;
}

.app {
  background-color: var(--background-blueblack);
  max-width: 100vw;
  overflow: clip;
  width: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin: 0 auto;
  max-width: 81rem;
  padding: 0 1rem;
}

section {
  padding: 6rem 0;
}

@keyframes nav-animation {
  0% {
    background-color: transparent;
    height: 5rem;
  }

  100% {
    background-color: var(--neutral-black-100);
    height: 3rem;
  }
}

@keyframes animation-nav-item {
  0% {
    color: var(--neutral-white-100);
  }

  0.01%,
  99.99% {
    color: var(--primary-green-100);
  }

  100% {
    color: var(--neutral-white-100);
  }
}

@keyframes waves {
  0%,
  30% {
    opacity: 1;
  }

  100% {
    opacity: 0.01;
    translate: 0 -1rem;
  }
}

@keyframes show {
  0% {
    opacity: 0.01;
    translate: 0 1rem;
  }

  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes animation-message {
  from {
    opacity: 0.01;
    translate: 0 -5rem;
  }

  to {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes animation-cat {
  from {
    opacity: 0.01;
    translate: -12rem 0;
  }

  to {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes animation-rocket {
  from {
    opacity: 0.01;
    translate: 0 -1rem;
    translate: 0 8rem;
  }

  to {
    opacity: 0.5;
    translate: 0 0;
  }
}

h2 {
  color: var(--neutral-white-100);
  font-family: Biennale, sans-serif;
  font-size: 2rem;
  font-weight: 500;
}

h2,
h3:not(.tooltip-container h3),
h4,
h5,
p:not(.nav p, .home p, .tooltip-container p, .footer p),
a:not(.nav a, .home a, .experience a, .tooltip-container a, .footer a),
span,
.experience-container-company,
.experience-container-info,
.experience-container-info-content-text,
.contact-container-chat {
  animation: show linear both;
  animation-range: 0 30svh;
  animation-timeline: view();
}

.tooltip {
  display: inline;
  margin: 0 auto;
  max-width: max-content;
  position: relative;
}

.tooltip:hover > .tooltip-container {
  opacity: 1;
  visibility: visible;
}

.tooltip-container {
  border-radius: 0.5rem;
  color: var(--neutral-white-100);
  display: flex;
  font-size: 0.8rem;
  height: 12rem;
  left: 50%;
  opacity: 0.01;
  padding-bottom: 1rem;
  position: absolute;
  top: -188px;
  transition: opacity 0.3s ease, visibility 0s;
  translate: -50% 0;
  visibility: hidden;
  z-index: 1;
}

.tooltip-container-arrow {
  border: 0.5rem solid transparent;
  border-top-color: var(--neutral-gray5-100);
  bottom: 1px;
  left: 50%;
  position: absolute;
  translate: -50% 0;
}

.tooltip-container-content {
  background-color: var(--neutral-gray5-100);
  border-radius: 0.5rem;
  display: flex;
  gap: 0 0.5rem;
  height: 100%;
  padding: 0.5rem;
}

.tooltip-container-content-image {
  height: 100%;
  max-width: 284px;
  overflow: hidden;
  position: relative;
  width: 50vw;
}

.tooltip-container-content-image img {
  aspect-ratio: 16 / 9;
  background-color: var(--neutral-gray5-100);
  border-radius: 0.25rem 0 0 0.25rem;
  height: 100%;
  left: 50%;
  position: absolute;
  translate: -50% 0;
}

.tooltip-container-content-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 10rem;
}

.tooltip-container-content-info-icon {
  height: 1rem;
  width: 1rem;
}

.tooltip-container-content-info-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.2rem;
}

.tooltip-container-content-info-description {
  color: var(--neutral-gray2-100);
  font-size: 0.8rem;
}

.tooltip-container-content-info-links {
  display: flex;
  gap: 0 0.5rem;
  justify-content: flex-end;
  margin-top: auto;
  width: 100%;
}

.tooltip-container-content-info-links > a {
  color: var(--neutral-gray3-100);
  height: 24px;
  transition: color 0.3s ease;
}

.tooltip-container-content-info-links > a:hover {
  color: var(--primary-green-100);
}

.nav {
  align-items: center;
  animation: nav-animation auto linear;
  animation-range: 0 4rem;
  animation-timeline: scroll(root block);
  background-color: var(--neutral-black-100);
  display: flex;
  height: 3rem;
  justify-content: space-between;
  left: 0;
  margin: 0 auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.nav-container {
  align-items: center;
  display: flex;
  height: 100%;
  margin: 0 auto;
  max-width: 81rem;
  padding: 0 1rem;
  width: 100%;
}

.nav-logo {
  align-items: center;
  display: flex;
  height: 80%;
}

.nav-container-menu {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  right: 0;
  top: 0;
  transition: translate 300ms ease;
  translate: 0 -150%;
  user-select: none;
  width: 12rem;
  z-index: 50;
}

.nav-container-menu-link {
  background-color: var(--neutral-black-100);
  align-items: center;
  color: var(--neutral-white-100);
  display: flex;
  font-family: "Codec cold", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-decoration: none;
  transition: color 0.3s ease;
  width: 100%;
  padding: 1rem;
  text-align: start;
  z-index: 90;

  animation: animation-nav-item linear both;
  animation-timeline: --this;
  view-timeline: --this block;
}

.nav-container-menu-link:first-of-type {
  animation-range: entry 0 cover 100rem;
  padding: 2rem 1rem 1rem 1rem;
}

.nav-container-menu-link:nth-of-type(2) {
  animation-range: entry 100rem cover 140rem;
}

.nav-container-menu-link:nth-of-type(3) {
  animation-range: entry 140rem cover 240rem;
}

.nav-container-menu-link:last-of-type {
  animation-range: entry 240rem cover 340rem;
  border-radius: 0 0 0 0.5rem;
  padding: 1rem 1rem 2rem 1rem;
}

.nav-container-menu-link svg {
  color: var(--primary-green-100);
  height: 1.25rem;
  opacity: 0.01;
  translate: 0.4rem -0.4rem;
  width: 1.25rem;
}

.nav-container-menu-link:hover svg {
  opacity: 1;
}

/* .nav-container-menu-link:hover {
  color: var(--primary-green-100) !important;
}

.nav-container-menu-link:active {
  color: var(--primary-green-100) !important;
  transition: color 0s;
} */

.nav-container-menu-link img {
  width: 1rem;
}

.nav-container-menu-link p {
  font-size: 1rem;
  font-weight: 600;
}

.nav-container-button {
  background-color: transparent;
  border: none;
  color: var(--neutral-white-100);
  display: block;
  height: 2rem;
  margin-left: auto;
  transition: translate 0.3s ease;
  width: 2rem;
  z-index: 40;
}

.nav-container-button:hover + .nav-container-menu {
  translate: 0 0;
}

.nav-container-menu:hover {
  translate: 0 0;
}

.nav-container-menu:hover + .mask {
  opacity: 0.5;
  visibility: visible;
}

.mask {
  visibility: hidden;
  background-color: var(--neutral-black-100);
  border: none;
  height: 100vh;
  left: 0;
  opacity: 0.01;
  position: fixed;
  top: 0;
  transition: opacity 0.2s ease, visibility 0.05s ease;
  width: 100%;
  z-index: 45;
}

.nav-container-button:hover ~ .mask {
  opacity: 0.5;
  visibility: visible;
}

/* ---------- ⬇️ HOME ⬇️ ---------- */
.home {
  padding-bottom: 20rem;
  padding-top: 20rem;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
  justify-content: flex-start;
  position: relative;
  max-width: 32rem;
  z-index: 1;
}

.home-container-subheader {
  color: var(--primary-green-100);
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.1vmax;
  text-transform: uppercase;
}

.home-container-title {
  color: var(--neutral-white-100);
  font-family: Biennale, sans-serif;
  font-size: 3.1rem;
  font-weight: 500;
  line-height: 1;
}

.home-container-text {
  font-size: 1rem;
  line-height: 1.5;
}

.home-container-social {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.home-container-social a svg {
  align-items: center;
  color: var(--neutral-gray3-100);
  display: flex;
  justify-content: center;
  transition: color 0.3s ease;
}

.home-container-social a:hover svg {
  color: var(--primary-green-100);
}

.home-container-social a svg {
  height: 2rem;
  width: 2rem;
}

.green-button {
  align-items: center;
  background-color: var(--primary-green-100);
  border-radius: 2rem;
  color: var(--background-blueblack);
  display: flex;
  font-family: Biennale, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  justify-content: center;
  line-height: 1;
  padding: 1rem 2rem;
  transition: box-shadow 0.3s ease;
  max-width: max-content;
}

.green-button:hover {
  box-shadow: 0 1rem 1.5rem 0 var(--primary-green-40);
}

.waves {
  align-items: flex-start;
  animation: waves auto linear forwards;
  animation-range: 0 85vh;
  animation-timeline: scroll(root block);
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  height: 100%;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  user-select: none;
}

.waves-blurs {
  left: -6rem;
  top: 1rem;
  position: absolute;
  width: 56rem;
}

.waves-sky-wave {
  bottom: 0;
  left: -23rem;
  position: absolute;
  right: auto;
  top: auto;
  width: 93rem;
}

.waves-blue-wave {
  bottom: 0;
  left: -19rem;
  position: absolute;
  right: auto;
  top: auto;
  width: 100rem;
}

.waves-purple-wave {
  bottom: 0;
  left: -17rem;
  position: absolute;
  right: auto;
  top: auto;
  width: 100rem;
}

.waves-profile {
  border-radius: 0.5rem;
  height: 184px;
  left: 0;
  position: absolute;
  top: 8rem;
  width: 184px;
  z-index: 1;
}
/* ---------- ⬆️ HOME ⬆️ ---------- */

/* ---------- ⬇️ EXPERIENCE ⬇️ ---------- */
.experience {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem 0;
  justify-content: center;
  margin: 0 auto;
  max-width: 50rem;
  z-index: 10;
}

.experience-container {
  display: flex;
  gap: 0 1rem;
  justify-content: center;
}

.experience-container-company a {
  align-items: center;
  border-radius: 50%;
  border: 1px solid var(--neutral-gray5-100);
  color: var(--neutral-white-100);
  display: flex;
  justify-content: center;
  margin-top: 0.7rem;
  padding: 0.8rem;
  transition: color 0.3s ease;
}

.experience-container-company a:hover {
  color: var(--primary-green-100);
}

.experience-container-company a svg {
  height: 2rem;
  width: 2rem;
}

.experience-container-info {
  border-radius: 0.5rem;
  border: 1px solid var(--neutral-gray5-100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.experience-container-info-header {
  align-items: flex-end;
  border-bottom: 0.0625rem solid var(--neutral-gray3-100);
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  margin-bottom: 1rem;
  position: relative;
}

.experience-container-info-header-title {
  color: var(--neutral-white-100);
  font-size: 1rem;
  white-space: nowrap;
}

.experience-container-info-header-date {
  color: var(--neutral-gray3-100);
  font-size: 0.8rem;
  text-align: end;
  height: 1.2rem;
  vertical-align: 19px;
}

.experience-container-info-header-date > span:last-of-type {
  display: none;
}

.experience-container-info-header-arrow {
  background-color: var(--background-blueblack);
  border: 1px solid var(--neutral-gray5-100);
  bottom: -0.5rem;
  height: 1rem;
  left: -1.52rem;
  position: absolute;
  rotate: 45deg;
  width: 1rem;
}

.experience-container-info-content {
  color: var(--neutral-gray1-100);
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  gap: 0.5rem;
  text-wrap: pretty;
}

.experience-container-info-content .tooltip-text {
  color: var(--primary-green-100);
  text-decoration: underline;
  text-decoration-color: var(--primary-green-40);
  text-underline-offset: 0.2rem;
}

.experience-container-info-content .tooltip:hover .tooltip-text {
  text-decoration-color: var(--primary-green-100);
}
/* ---------- ⬆️ EXPERIENCE ⬆️ ---------- */

/* ---------- ⬇️ PROJECTS ⬇️ ---------- */
.projects {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 6rem 0;
  justify-content: space-between;
}

.projects-container {
  display: flex;
  gap: 1rem 2rem;
  height: 100%;
  justify-content: space-between;
  position: relative;
  flex-direction: column;
}

.projects-container:nth-of-type(2) {
  flex-direction: column-reverse;
}

.projects-container > a {
  aspect-ratio: 16 / 9;
  border-radius: 10px;
  height: max-content;
  overflow: hidden;
  width: 100%;
}

.projects-container-image {
  transition: scale 0.3s ease;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.projects-container-image:hover {
  scale: 1.1;
}

.projects-container-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.projects-container-info-title {
  align-items: center;
  display: flex;
  gap: 0 1rem;
}

.projects-container-info-title > h3 {
  color: var(--neutral-white-100);
  font-family: Biennale, sans-serif;
  font-size: 2rem;
  font-weight: 500;
}

.projects-container-info-title > a {
  color: var(--neutral-gray3-100);
  display: flex;
  transition: color 0.3s ease;
}

.projects-container-info-title > a:hover {
  color: var(--primary-green-100);
}

.projects-container-info-title > a > svg {
  height: 2rem;
  margin: auto 0;
  width: 2rem;
}

.projects-container-info-description {
  font-size: 1rem;
}

.projects-container-info-tools {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.projects-container-info-tools span,
.projects-container-info-tools-3 span {
  align-items: center;
  color: var(--neutral-gray3-100);
  display: flex;
  font-size: 1rem;
  gap: 0.5rem;
}

.projects-container-info-tools-icon {
  height: 1.5rem;
  width: 1.5rem;
}
/* ---------- ⬆️ PROJECTS ⬆️ ---------- */

/* ---------- ⬇️ CONTACT ⬇️ ---------- */
.contact {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
}

.contact-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  max-width: 32rem;
  position: relative;
  height: 100%;
  margin: auto;
}

.contact-container:last-of-type {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 21rem;
}

.contact-container h2 {
  line-height: 1;
}

.contact-container p {
  font-size: 1rem;
}

.contact-container-message {
  align-items: center;
  background-color: var(--background-blueblack);
  border-radius: 1.5rem;
  border: 1px solid var(--neutral-gray5-100);
  color: var(--neutral-white-100);
  display: flex;
  left: -1rem;
  padding: 0.3rem;
  position: absolute;
  top: 2.5rem;
  width: 14rem;
  z-index: 2;

  animation: animation-message linear both;
  animation-range: 0 30svh;
  animation-timeline: view(block);
}

.contact-container-message-text {
  align-items: center;
  background: linear-gradient(90deg, #00d4e7 0%, #9a54ff 50%, #d63aff 100%);
  border-radius: 1rem;
  color: var(--neutral-white-100);
  display: flex;
  font-size: 0.8rem;
  padding: 0 0.5rem;
  width: 100%;
  z-index: 2;
}

.contact-container-cat {
  bottom: -1rem;
  height: 4rem;
  left: -2rem;
  position: absolute;
  z-index: 2;

  animation: animation-cat linear both;
  animation-range: 0 30svh;
  animation-timeline: view(block);
}

.contact-container-chat {
  background-color: var(--background-blueblack);
  border-radius: 0.5rem;
  border: 1px solid var(--neutral-gray5-100);
  height: 14rem;
  width: 20.5rem;

  z-index: 1;
}

.contact-container-chat-btns {
  align-items: center;
  border-bottom: 1px solid var(--neutral-gray5-100);
  display: flex;
  gap: 0.4rem;
  height: 1.5rem;
  padding-left: 0.6rem;
  width: 100%;
}

.contact-container-chat-btns-btn {
  border-radius: 50%;
  border: 1px solid var(--neutral-gray5-100);
  height: 0.7rem;
  width: 0.7rem;
}

.contact-container-chat-msgs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: calc(100% - 1.5rem);
  justify-content: center;
  padding: 0 1rem;
  width: 100%;
}

.contact-container-chat-msgs-msg {
  align-items: center;
  display: flex;
  height: 1rem;
  gap: 0.5rem;
}

.contact-container-chat-msgs-msg:first-of-type {
  margin-left: auto;
  opacity: 0.8;
}

.contact-container-chat-msgs-msg:nth-of-type(2) {
  opacity: 0.6;
}

.contact-container-chat-msgs-msg:last-of-type {
  margin-left: auto;
  opacity: 0.4;
}

.contact-container-chat-msgs-msg-text {
  align-items: center;
  border-radius: 1rem;
  border: 1px solid var(--neutral-gray5-100);
  display: flex;
  gap: 0.25rem;
  height: 1.2rem;
  padding: 0 0.5rem;
  width: max-content;
}

.contact-container-chat-msgs-msg-text-info {
  border-radius: 1rem;
  border: 1px solid var(--neutral-gray5-100);
  height: 0.6rem;
  width: 5rem;
}

.contact-container-chat-msgs-msg-text-info.w-6 {
  width: 6rem;
}

.contact-container-chat-msgs-msg-text-icons {
  font-size: 0.6rem;
  translate: 0 0.08rem;
}

.contact-container-chat-msgs-msg-text-icons:first-of-type {
  opacity: 0.6;
}

.contact-container-chat-msgs-msg-text-icons:nth-of-type(2) {
  opacity: 0.4;
}

.contact-container-chat-msgs-msg-text-icons:last-of-type {
  opacity: 0.2;
}

.contact-container-chat-msgs-msg-pic {
  border-radius: 1rem;
  border: 1px solid var(--neutral-gray5-100);
  height: 1.5rem;
  width: 1.5rem;
  overflow: hidden;
}

.contact-container-chat-msgs-msg-pic-head {
  border-radius: 50%;
  border: 1px solid var(--neutral-gray5-100);
  height: 50%;
  margin: 0.2rem auto 0 auto;
  width: 50%;
}

.contact-container-chat-msgs-msg-pic-body {
  border-radius: 50%;
  border: 1px solid var(--neutral-gray5-100);
  height: 100%;
  width: 100%;
}

.contact-container-rocket {
  position: absolute;
  right: -1.5rem;
  top: -4rem;
  width: 5rem;

  animation: animation-rocket linear both;
  animation-range: 0 50svh;
  animation-timeline: view(block);
}
/* ---------- ⬆️ CONTACT ⬆️ ---------- */

/* ---------- ⬇️ MORE PROJECTS ⬇️ ---------- */
.more-projects {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem 0;
  justify-content: center;
  margin-bottom: 2rem;
}

.more-projects-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  width: 100%;
}

.more-projects .tooltip-text {
  color: var(--neutral-gray3-100);
  font-size: 1.3rem;
  transition: color 0.3s ease;
}

.more-projects .tooltip:hover .tooltip-text {
  color: var(--primary-green-100);
}

/* ---------- ⬆️ MORE PROJECTS ⬆️ ---------- */

/* ---------- ⬇️ FOOTER ⬇️ ---------- */
.footer {
  align-items: center;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  width: 100%;
}

.footer > a {
  color: var(--neutral-gray3-100);
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  text-decoration-color: var(--neutral-gray4-100);
}

.footer > a:hover {
  text-decoration: underline;
}

.footer-social {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.footer-social a {
  align-items: center;
  color: var(--neutral-gray3-100);
  display: flex;
  justify-content: center;
  transition: color 0.3s ease;
}

.footer-social a:hover {
  color: var(--primary-green-100);
}

.footer-social a svg {
  height: 2rem;
  width: 2rem;
}
/* ---------- ⬆️ FOOTER ⬆️ ---------- */

@media screen and (min-width: 769px) {
  h2 {
    font-size: 3.5rem;
  }

  .app-container {
    padding: 0 3rem;
  }

  /* ---------- ⬇️ NAVBAR ⬇️ ---------- */
  .nav-container {
    padding: 0 3rem;
  }

  .nav-container-button {
    display: none;
  }

  .nav-container-menu {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0 1rem;
    height: 100%;
    justify-content: space-between;
    margin-left: auto;
    padding: 0;
    position: relative;
    right: 0;
    top: 0;
    translate: 0 0;
    width: auto;
  }

  .nav-container-menu-link {
    background-color: transparent;
    height: 100%;
    padding: 0;
  }

  .nav-container-menu-link:first-of-type {
    border-radius: 0;
    padding: 0;
  }

  .nav-container-menu-link:last-of-type {
    border-radius: 0;
    padding: 0;
  }

  .mask {
    display: none;
  }

  .nav-container-menu:hover + .mask {
    opacity: unset;
    visibility: unset;
  }

  .nav-container-menu:hover {
    translate: unset;
  }
  /* ---------- ⬆️ NAVBAR ⬆️ ---------- */

  /* ---------- ⬇️ HOME ⬇️ ---------- */
  .home {
    padding: 20rem 0 16rem 0;
  }

  .home-container-title {
    font-size: 4.5rem;
  }

  .waves {
    animation-range: 0 60vh;
  }

  .waves-blurs {
    left: 20rem;
    top: -8rem;
    width: 79rem;
  }

  .waves-sky-wave,
  .waves-blue-wave,
  .waves-purple-wave {
    left: 0;
    width: 119rem;
  }
  /* ---------- ⬆️ HOME ⬆️ ---------- */

  /* ---------- ⬇️ PROJECTS ⬇️ ---------- */
  .experience-container-info-header-date > span:first-of-type {
    display: none;
  }

  .experience-container-info-header-date > span:last-of-type {
    display: block;
  }
  /* ---------- ⬆️ HOME ⬆️ ---------- */

  /* ---------- ⬇️ PROJECTS ⬇️ ---------- */
  .projects-container {
    flex-direction: row;
  }

  .projects-container:nth-of-type(2) {
    flex-direction: row;
  }

  .projects-container > a {
    width: 50%;
  }

  .projects-container-info {
    width: 50%;
  }

  .projects-container-info-tools-3 {
    display: flex;
    flex-direction: column;
    gap: 1rem 0;
    justify-content: space-between;
  }
  /* ---------- ⬆️ PROJECTS ⬆️ ---------- */
}

@media screen and (min-width: 1024px) {
  /* ---------- ⬇️ HOME ⬇️ ---------- */
  .waves-profile {
    border-radius: 50%;
    height: 25rem;
    left: clamp(34rem, 55vw, 50rem);
    position: absolute;
    top: 12rem;
    width: 25rem;
  }
  /* ---------- ⬆️ HOME ⬆️ ---------- */

  /* ---------- ⬇️ CONTACT ⬇️ ---------- */
  .contact {
    flex-direction: row;
  }

  .contact-container {
    margin: unset;
  }

  .contact-container:last-of-type {
    width: 40%;
  }

  .contact-container-message {
    width: 19rem;
  }

  .contact-container-message-text {
    padding: 0 1rem;
  }

  .contact-container-cat {
    left: 0;
  }

  .contact-container-rocket {
    right: 2rem;
    top: -6rem;
    width: 6.5rem;
  }
  /* ---------- ⬆️ CONTACT ⬆️ ---------- */

  /* ---------- ⬇️ MORE PROJECTS ⬇️ ---------- */
  .more-projects {
    gap: 4rem 0;
  }

  .more-projects-container {
    display: grid;
    gap: 3rem 1rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .tooltip-container {
    transition: opacity 0.3s ease, visibility 0.3s ease;
    top: -188px;
  }

  .tooltip-bottom .tooltip-container {
    top: 100%;
    padding: 1rem 0 0 0;
  }

  .tooltip-bottom .tooltip-container .tooltip-container-arrow {
    border-top-color: transparent;
    border-bottom-color: var(--neutral-gray5-100);
    bottom: unset;
    top: 0;
  }

  .tooltip-container-content-image {
    width: 20vw;
  }

  .more-projects .tooltip-text {
    font-size: 1.5rem;
  }
  /* ---------- ⬆️ MORE PROJECTS ⬆️ ---------- */
}
