@use "../../styles/breakpoints" as *;
@use "../../styles/layout" as *;
@use "../../styles/typography" as *;

.navbar {
  align-items: center;
  display: flex;
  height: 3rem;
  justify-content: space-between;
  left: 0;
  margin: 0 auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;

  .navbar_container {
    @include section-padding-x;
    align-items: center;
    display: flex;
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 100%;
  }

  .navbar_logo {
    align-items: center;
    display: flex;
    height: 80%;

    @include tablet {
      order: 1;
    }
  }

  .navbar_logo_img {
    height: 100%;
    width: auto;
  }

  .navbar_lang {
    align-items: center;
    color: var(--neutral-gray3-100);
    display: flex;
    gap: 0.5rem;
    margin-left: auto;
    margin-right: 0.5rem;
    @include text-small;

    @include tablet {
      margin-right: 0;
      order: 3;
    }

    .navbar_lang_current {
      color: var(--primary-green-100);
      @include text-small-semibold;
    }

    .navbar_lang_link,
    button {
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
    }

    .navbar_lang_link {
      color: var(--neutral-gray3-100);
      text-decoration: none;
      transition: color 0.3s ease;
    }

    .navbar_lang_link:hover,
    button.navbar_lang_link:hover {
      color: var(--primary-green-100);
    }
  }

  .navbar_menu {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    right: 0;
    top: 0;
    transition: translate 300ms ease;
    translate: 0 -150%;
    user-select: none;
    width: 12rem;
    z-index: 50;

    @include tablet {
      align-items: center;
      flex-direction: row;
      gap: 0 1rem;
      height: 100%;
      justify-content: flex-end;
      margin-left: 0;
      margin-left: 1rem;
      order: 2;
      padding: 0;
      position: relative;
      right: 0;
      top: 0;
      translate: 0 0;
      width: auto;
    }

    .navbar_menu_link {
      align-items: center;
      background-color: rgba(8, 10, 22, 0.96);
      color: var(--neutral-gray1-100);
      display: flex;
      padding: 1rem;
      text-align: start;
      text-decoration: none;
      transition: color 0.3s ease;
      width: 100%;
      z-index: 90;
      @include text-small-semibold;

      @include tablet {
        background-color: transparent;
        height: 100%;
        padding: 0 0.25rem;
      }
    }

    .navbar_menu_link:first-of-type {
      padding: 2rem 1rem 1rem;

      @include tablet {
        border-radius: 0;
        padding: 0 0.25rem;
      }
    }

    .navbar_menu_link:last-of-type {
      border-radius: 0 0 0 0.5rem;
      padding: 1rem 1rem 2rem;

      @include tablet {
        border-radius: 0;
        padding: 0 0.25rem;
      }
    }

    .navbar_menu_link_active {
      color: var(--primary-green-100);
    }

    .navbar_menu_link:hover {
      color: var(--primary-green-100);
    }
  }

  .navbar_menu_button {
    background-color: transparent;
    border: none;
    color: var(--neutral-white-100);
    cursor: pointer;
    display: block;
    height: 2rem;
    margin-left: auto;
    padding: 0;
    transition: translate 0.3s ease;
    width: 2rem;
    z-index: 40;

    @include tablet {
      display: none;
    }
  }

  .navbar_mask {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    height: 100vh;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition:
      opacity 0.2s ease,
      visibility 0.05s ease;
    visibility: hidden;
    width: 100%;
    z-index: 45;

    @include tablet {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  body.navbar_menu_open {
    overflow: hidden;
  }

  body.navbar_menu_open .navbar .navbar_menu {
    translate: 0 0;
  }

  body.navbar_menu_open .navbar .navbar_mask {
    background-color: rgba(0, 0, 0, 0.45);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(4px);
    opacity: 1;
    visibility: visible;
  }
}
