@use "../../../styles/breakpoints" as *;
@use "../../../styles/typography" as *;

.hero {
  min-height: 120dvh;
  pointer-events: none;
  position: relative;

  .hero_main {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    left: 0;
    padding: 0 max(1vw, 16px);
    pointer-events: auto;
    position: absolute;
    right: 0;
    top: max(6vw, 80px);

    .hero_main_center {
      align-items: center;
      display: flex;
      flex-direction: column;
      max-width: 100%;

      .hero_main_center_headline {
        @include text-h1;
        color: #fff;
      }

      .hero_main_center_subhead {
        @include text-h2;
        color: rgba(255, 255, 255, 0.75);
        text-align: center;
      }

      .hero_main_center_actions {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: max(0.8vw, 12px);
        justify-content: center;

        .hero_main_center_actions_btn {
          @include text-caption;
          border-radius: 9999px;
          border: none;
          color: #fff;
          cursor: pointer;
          padding: max(0.5vw, 8px) max(1vw, 12px);
          transition:
            background-color 0.3s ease,
            color 0.3s ease;
          border: 1px solid #fff;

          &:hover {
            background-color: #ffffff16;
          }
        }

        .hero_main_center_actions_link {
          color: #fff;
          display: flex;
          transition: transform 0.3s ease;

          &:hover {
            transform: scale(1.1);
          }

          & > svg {
            height: max(1.4vw, 24px);
            width: max(1.4vw, 24px);
          }
        }
      }
    }
  }
}
