@use "../../styles/typography" as *;

.footer {
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  width: 100%;

  .footer_link {
    color: var(--neutral-gray3-100);
    @include text-small;
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.08);
    text-underline-offset: 0.2rem;
    transition: color 0.3s ease;
  }

  .footer_link:hover {
    color: var(--primary-green-100);
  }

  .footer_social {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
}
