@use "../../../styles/breakpoints" as *;
@use "../../../styles/typography" as *;

.about {
  align-items: flex-start;
  display: flex;
  min-height: 120vh;
  pointer-events: none;

  .about_inner {
    display: flex;
    flex-direction: column;
    gap: max(2.78vw, 40px);
    padding: 0 16px;
    pointer-events: auto;

    @include desktop {
      padding: 0 10vw;
      width: 63vw;
    }

    .about_inner_header {
      display: flex;
      flex-direction: column;
      gap: max(1vw, 16px);

      .about_inner_header_eyebrow {
        @include text-eyebrow;
        color: rgba(255, 255, 255, 0.5);
      }

      .about_inner_header_rule {
        background-color: rgba(255, 255, 255, 0.2);
        height: 1px;
        width: 100%;
      }
    }

    .about_inner_text {
      @include text-h3;
      color: #fff;
    }
  }
}
