body {
  margin: 0;
  background-color: black;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.alert_new_portfolio {
  background-color: rgb(150, 50, 150);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 100;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 32px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 200;
}

.alert_new_portfolio_container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.alert_new_portfolio_text {
  margin: 0;
}

.alert_new_portfolio_btn {
  background-color: rgb(255, 255, 255);
  border: none;
  color: rgb(150, 50, 150);
  cursor: pointer;
  font-size: 16px;
  font-weight: 100;
  margin-left: 16px;
  outline: none;
  padding: 8px 16px;
  text-decoration: none;
}

.menu {
  margin-top: 50px;
  opacity: 1;
  transition: all 0.3s ease;
}

.hidden-menu {
  opacity: 0;
  transition: all 0.3s ease;
  visibility: hidden;
}

.page {
  opacity: 1;
  transition: all 0.5s ease;
}

.hidden-page {
  opacity: 0;
  transition: all 0.3s ease;
  visibility: hidden;
}

.preload-bg-img {
  height: 0;
  visibility: hidden;
  width: 0;
}

.absolute {
  position: absolute;
}

.invisible {
  visibility: hidden;
}

.loader {
  animation: spin 1.5s linear infinite;
  border-radius: 50%;
  border-top: 8px solid rgb(150, 50, 150);
  border: 8px solid #f3f3f3;
  bottom: 0;
  height: 60px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.card-main-container {
  background-color: rgba(10, 10, 10, 0.75);
  display: flex;
  flex-direction: column;
  margin: 48px;
  max-width: 520px;
  padding: 40px 80px 40px 40px;
  z-index: 99;
}

.card-main-title {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 100;
  margin: 0 0 16px 0;
}

.card-main-subtitle {
  color: rgb(150, 50, 150);
  font-size: 24px;
  font-weight: 100;
  margin: 0;
}

.card-main-icon-a:hover .card-main-icon-svg {
  color: rgb(150, 50, 150);
}

.card-main-icon-svg {
  color: rgb(255, 255, 255);
  height: 24px;
  margin: 18px 12px 0 0;
  width: 24px;
}

.menu-container {
  margin: 32px;
  right: 0;
  width: 160px;
  z-index: 99;
}

.menu-btn {
  background-color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-bottom: 8px;
  outline: none;
  position: relative;
  width: 100%;
}

.menu-btn-sm {
  float: right;
  width: 100px;
}

.menu-container-btns {
  display: flex;
  flex-direction: column;
}

.menu-btn:hover {
  color: rgb(150, 50, 150);
}

.menu-btn-active {
  color: rgb(150, 50, 150);
}

.height-for-absolutes {
  height: 332px;
}

.container-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

@media screen and (max-height: 900px) {
  .container-img {
    height: 1100px;
  }
}

/* --------------- INTRO section --------------- */
.container-img-intro {
  background-image: url("/src/imgs/photo-02.webp");
}

.card-intro-container {
  display: flex;
  flex-direction: column;
  float: right;
  margin: 86px 86px 0 0;
  max-width: 512px;
}

.card-intro-title {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 100;
  margin: 0 0 16px 0;
  padding-left: 40px;
}

.card-intro-subtitle-container {
  background-color: rgba(10, 10, 10, 0.75);
  display: flex;
  flex-direction: column;
  line-height: 24px;
  margin-bottom: 16px;
  padding: 40px;
}

.card-intro-subtitle {
  color: rgb(200, 200, 200);
  font-size: 18px;
  margin: 8px 0;
}

.card-intro-btn {
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-left: 40px;
  width: 160px;
}

.card-intro-btn:hover {
  color: rgb(150, 50, 150);
}

/* --------------- ABOUT section --------------- */
.container-img-about {
  background-image: url("/src/imgs/photo-03.webp");
}

.card-about-container {
  background-color: rgba(10, 10, 10, 0.75);
  display: flex;
  flex-direction: column;
  float: right;
  margin: 16px 86px 0 0;
  max-width: 360px;
  padding: 60px 40px;
}

.card-about-title {
  color: rgb(150, 50, 150);
  font-size: 32px;
  font-weight: 100;
  margin: 0 0 16px 0;
}

.card-about-subtitle {
  color: rgb(200, 200, 200);
  font-size: 18px;
  line-height: 26px;
  margin: 8px 0;
}

.card-about-btn {
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 32px;
  width: 160px;
}

.card-about-btn:hover {
  color: rgb(150, 50, 150);
}

/* --------------- PROJECTS section --------------- */
.container-img-projects {
  background-image: url("/src/imgs/photo-04.webp");
}

.project-title {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 100;
  margin: 30px 0 10px 0;
  text-align: center;
}

.project-container {
  background-color: black;
  color: rgb(255, 255, 255);
  left: 0;
  margin: auto;
  overflow: hidden;
  position: absolute;
  right: 0;
  width: 800px;
  z-index: 150;
}

.project-container-transform {
  background-color: black;
  display: flex;
  height: 450px;
  transition: transform 0.3s;
  width: 800px;
}

.img-blackjack {
  background-image: url("/src/imgs/projects/blackjack.webp");
}

.img-createResume {
  background-image: url("/src/imgs/projects/createResume.webp");
}

.img-sokoban {
  background-image: url("/src/imgs/projects/sokoban.webp");
}

.img-removeBg {
  background-image: url("/src/imgs/projects/removeBg.webp");
}

.img-pokemon {
  background-image: url("/src/imgs/projects/pokemon.webp");
}

.img-informatorio {
  background-image: url("/src/imgs/projects/informatorio.webp");
}

.img-weather {
  background-image: url("/src/imgs/projects/weather.webp");
}

.img-predic {
  background-image: url("/src/imgs/projects/worldCupPredictions.webp");
}

.img-login {
  background-image: url("/src/imgs/projects/login.webp");
}

.img-tateti {
  background-image: url("/src/imgs/projects/taTeTi.webp");
}

.transform-1 {
  transform: translateX(0%);
}
.transform-2 {
  transform: translateX(-800px);
}
.transform-3 {
  transform: translateX(-1600px);
}
.transform-4 {
  transform: translateX(-2400px);
}
.transform-5 {
  transform: translateX(-3200px);
}
.transform-6 {
  transform: translateX(-4000px);
}
.transform-7 {
  transform: translateX(-4800px);
}
.transform-8 {
  transform: translateX(-5600px);
}
.transform-9 {
  transform: translateX(-6400px);
}
.transform-10 {
  transform: translateX(-7200px);
}

.project-card {
  cursor: pointer;
  height: 550px;
  width: 800px;
  z-index: 200;
}

.project-card:hover .project-card-description {
  transform: translateY(-70px);
}

.project-card:hover .project-card-image {
  transform: translateY(-70px);
}

.project-card-image {
  background-repeat: no-repeat;
  background-size: 800px;
  height: 450px;
  transition: transform 0.3s;
  width: 800px;
}

.project-card-title {
  background-color: rgb(150, 50, 150);
  bottom: 0;
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 100;
  margin: 0;
  padding: 10px 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.project-card-description {
  background-color: rgb(150, 50, 150);
  bottom: -70px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  height: 72px;
  line-height: 26px;
  margin: 0;
  padding: 2px 0 10px 0;
  position: absolute;
  text-align: center;
  transition: transform 0.3s;
  width: 100%;
}

.project-navigation {
  display: flex;
  justify-content: space-between;
  left: 0;
  margin: auto;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  width: 880px;
}

.project-navigation-button {
  background-color: rgba(10, 10, 10, 0.75);
  border: none;
  color: rgb(255, 255, 255);
  height: 450px;
  width: 40px;
}

.project-navigation-button-text {
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  cursor: pointer;
  height: 32px;
  padding: 5px;
  transition: transform 0.3s, background-color 0.3s;
  width: 32px;
}

.project-navigation-button-text:hover {
  background-color: rgb(150, 50, 150);
  transform: scale(1.1);
}

/* --------------- CONTACT section --------------- */
.container-img-contact {
  background-image: url("/src/imgs/photo-05.webp");
}

.contact-container {
  background-color: rgba(255, 255, 255, 0.75);
  display: flex;
  flex-direction: column;
  margin-left: 86px;
  max-width: 400px;
  padding: 40px;
}

.contact-input {
  background: transparent;
  border-bottom: 1px solid rgb(0, 0, 0);
  border-left: none;
  border-right: none;
  border-top: none;
  font-size: 18px;
  height: 50px;
  margin-bottom: 16px;
  outline: none;
  width: 100%;
}

.contact-input:focus {
  border-bottom: 1px solid rgb(150, 50, 150);
  color: rgb(10, 10, 10, 0.75);
}

.contact-btn {
  background: transparent;
  border-bottom: 1px solid rgb(0, 0, 0);
  border-left: none;
  border-right: none;
  border-top: none;
  cursor: pointer;
  float: right;
  font-size: 18px;
  height: 50px;
  margin-top: 32px;
  width: 64px;
}

.contact-btn:hover {
  border-bottom: 1px solid rgb(150, 50, 150);
  color: rgb(150, 50, 150);
}

.textarea {
  height: 120px;
  resize: none;
}

.contact-footer-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.submit-state {
  align-items: center;
  color: rgb(150, 50, 150);
  display: flex;
  height: 50px;
  justify-content: center;
  margin-top: 32px;
  width: 164px;
}

@media screen and (max-width: 920px) {
  /* --------------- PROJECTS section --------------- */
  .project-container {
    width: 600px;
  }

  .project-container-transform {
    height: 337.5px;
    width: 600px;
  }

  .transform-1 {
    transform: translateX(0%);
  }
  .transform-2 {
    transform: translateX(-600px);
  }
  .transform-3 {
    transform: translateX(-1200px);
  }
  .transform-4 {
    transform: translateX(-1800px);
  }
  .transform-5 {
    transform: translateX(-2400px);
  }
  .transform-6 {
    transform: translateX(-3000px);
  }
  .transform-7 {
    transform: translateX(-3600px);
  }
  .transform-8 {
    transform: translateX(-4200px);
  }
  .transform-9 {
    transform: translateX(-4800px);
  }
  .transform-10 {
    transform: translateX(-5400px);
  }

  .project-card {
    cursor: pointer;
    height: 550px;
    width: 600px;
    z-index: 200;
  }

  .project-card-image {
    background-size: 600px;
    height: 337.5px;
    width: 600px;
  }

  .project-navigation {
    width: 680px;
  }

  .project-navigation-button {
    height: 337.5px;
  }
}

@media screen and (max-width: 768px) {
  .card-main-container {
    padding: 30px;
  }

  .card-main-title {
    font-size: 32px;
  }

  .card-main-subtitle {
    font-size: 18px;
  }

  /* --------------- PROJECTS section --------------- */
  .project-container {
    width: 500px;
  }

  .project-container-transform {
    height: 281.25px;
    width: 500px;
  }

  .transform-1 {
    transform: translateX(0%);
  }
  .transform-2 {
    transform: translateX(-500px);
  }
  .transform-3 {
    transform: translateX(-1000px);
  }
  .transform-4 {
    transform: translateX(-1500px);
  }
  .transform-5 {
    transform: translateX(-2000px);
  }
  .transform-6 {
    transform: translateX(-2500px);
  }
  .transform-7 {
    transform: translateX(-3000px);
  }
  .transform-8 {
    transform: translateX(-3500px);
  }
  .transform-9 {
    transform: translateX(-4000px);
  }
  .transform-10 {
    transform: translateX(-4500px);
  }

  .project-card {
    height: 381.25px;
    width: 500px;
  }

  .project-card-image {
    background-size: 500px;
    height: 281.25px;
    width: 500px;
  }

  .project-card-title {
    font-size: 24px;
  }

  .project-card-description {
    font-size: 12px;
  }

  .project-navigation {
    width: 580px;
  }

  .project-navigation-button {
    height: 281.25px;
  }
}

@media screen and (max-width: 580px) {
  .menu-container {
    top: 200px;
  }

  .card-main-container {
    margin: 32px;
    padding: 10px 20px;
  }

  .height-for-absolutes {
    height: 532px;
  }

  /* --------------- INTRO section --------------- */
  .card-intro-container {
    margin: auto;
    width: 90%;
  }

  .card-intro-title {
    font-size: 28px;
    margin-left: 20px;
    padding: 0;
  }

  .card-intro-subtitle-container {
    padding: 20px;
  }

  .card-intro-subtitle {
    margin: 10px 0;
  }

  .card-intro-btn {
    margin-left: 20px;
  }

  /* --------------- ABOUT section --------------- */
  .card-about-container {
    margin: auto;
    max-width: 100%;
    padding: 20px;
    width: 100%;
  }

  /* --------------- PROJECTS section --------------- */
  .project-title {
    font-size: 32px;
  }

  .project-container {
    width: 200px;
  }

  .project-container-transform {
    height: 200px;
    margin: 0;
    padding: 0;
    width: 200px;
  }

  .transform-1 {
    transform: translateX(0%);
  }
  .transform-2 {
    transform: translateX(-200px);
  }
  .transform-3 {
    transform: translateX(-400px);
  }
  .transform-4 {
    transform: translateX(-600px);
  }
  .transform-5 {
    transform: translateX(-800px);
  }
  .transform-6 {
    transform: translateX(-1000px);
  }
  .transform-7 {
    transform: translateX(-1200px);
  }
  .transform-8 {
    transform: translateX(-1400px);
  }
  .transform-9 {
    transform: translateX(-1600px);
  }
  .transform-10 {
    transform: translateX(-1800px);
  }

  .project-card {
    height: 200px;
    width: 200px;
  }

  .project-card:hover .project-card-description {
    transform: translateY(-60px);
  }

  .project-card:hover .project-card-image {
    transform: translateY(-60px);
  }

  .project-card-description {
    bottom: -70px;
    line-height: 16px;
  }

  .project-card-image {
    background-color: rgb(150, 50, 150);
    background-position-y: center;
    background-size: 200px;
    height: 200px;
    width: 200px;
  }

  .project-card-title {
    font-size: 16px;
  }

  .project-card-description {
    font-size: 10px;
  }

  .project-navigation {
    width: 280px;
  }

  .project-navigation-button {
    height: 200px;
    padding: 0;
  }

  /* --------------- CONTACT section --------------- */
  .contact-container {
    margin: 0 32px;
    padding: 20px;
  }

  .contact-input {
    padding: 0;
  }

  .contact-btn {
    padding: 0;
  }

  .contact-footer-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
}
