body {
  margin: 0;
  background-color: black;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.menu-transition-enter {
  opacity: 0;
}

.menu-transition-enter-active {
  opacity: 1;
  transition: opacity 0.3s;
}

.menu-transition-exit {
  opacity: 1;
}

.menu-transition-exit-active {
  opacity: 0;
  transition: opacity 0.3s;
}

.page-transition-enter {
  opacity: 0;
}

.page-transition-enter-active {
  opacity: 1;
  transition: opacity 1s;
}

.page-transition-exit {
  opacity: 1;
}

.page-transition-exit-active {
  opacity: 0;
  transition: opacity 1s;
}

.preload-bg-img {
  width: 0;
  height: 0;
  visibility: hidden;
}

.absolute {
  position: absolute;
}

.card-main-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  background-color: rgba(10, 10, 10, 0.75);
  padding: 40px 80px 40px 40px;
  margin: 48px;
  z-index: 99;
}

.card-main-title {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 100;
  margin: 0 0 16px 0;
}

.card-main-subtitle {
  color: rgb(150, 50, 150);
  font-size: 24px;
  font-weight: 100;
  margin: 0;
}

.card-main-icon-a:hover .card-main-icon-svg {
  color: rgb(150, 50, 150);
}

.card-main-icon-svg {
  width: 24px;
  height: 24px;
  margin: 18px 12px 0 0;
  color: rgb(255, 255, 255);
}

.menu-container {
  margin: 32px;
  right: 0;
  width: 160px;
  z-index: 99;
}

.menu-btn {
  background-color: rgb(255, 255, 255);
  margin-bottom: 8px;
  border: none;
  height: 50px;
  width: 100%;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  position: relative;
}

.menu-btn-sm {
  width: 100px;
  float: right;
}

.menu-container-btns {
  display: flex;
  flex-direction: column;
}

.menu-btn:hover {
  color: rgb(150, 50, 150);
}

.menu-btn-active {
  color: rgb(150, 50, 150);
}

.height-for-absolutes {
  height: 332px;
}

.container-img {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@media screen and (max-height: 900px) {
  .container-img {
    height: 1100px;
  }
}

/* --------------- INTRO section --------------- */
.container-img-intro {
  background-image: url("/src/imgs/photo-02.jpg");
}

.card-intro-container {
  display: flex;
  flex-direction: column;
  max-width: 512px;
  float: right;
  margin: 86px 86px 0 0;
}

.card-intro-title {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 100;
  margin: 0 0 16px 0;
  padding-left: 40px;
}

.card-intro-subtitle-container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  line-height: 24px;
  background-color: rgba(10, 10, 10, 0.75);
  margin-bottom: 16px;
}

.card-intro-subtitle {
  color: rgb(200, 200, 200);
  font-size: 18px;
  margin: 8px 0;
}

.card-intro-btn {
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 6px;
  height: 50px;
  width: 160px;
  font-size: 18px;
  cursor: pointer;
  margin-left: 40px;
}

.card-intro-btn:hover {
  color: rgb(150, 50, 150);
}

/* --------------- ABOUT section --------------- */
.container-img-about {
  background-image: url("/src/imgs/photo-03.jpg");
}

.card-about-container {
  background-color: rgba(10, 10, 10, 0.75);
  display: flex;
  flex-direction: column;
  max-width: 296px;
  float: right;
  margin: 16px 86px 0 0;
  padding: 60px 40px;
}

.card-about-title {
  color: rgb(150, 50, 150);
  font-size: 32px;
  font-weight: 100;
  margin: 0 0 16px 0;
}

.card-about-subtitle {
  color: rgb(200, 200, 200);
  font-size: 18px;
  margin: 8px 0;
  line-height: 26px;
}

.card-about-btn {
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 6px;
  height: 50px;
  width: 160px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 32px;
}

.card-about-btn:hover {
  color: rgb(150, 50, 150);
}

/* --------------- PROJECTS section --------------- */
.container-img-projects {
  background-image: url("/src/imgs/photo-04.jpg");
}

.project-container {
  position: absolute;
  width: 800px;
  overflow: hidden;
  margin: 86px auto 0 auto;
  background-color: rgb(150, 50, 150);
  color: rgb(255, 255, 255);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 999;
}

.project-container-transform {
  display: flex;
  width: 800px;
  height: 450px;
  transition: transform 0.3s;
}

.img-sokoban {
  background-image: url("/src/imgs/projects/sokoban.jpg");
}

.img-pokemon {
  background-image: url("/src/imgs/projects/pokemon.jpg");
}

.img-weather {
  background-image: url("/src/imgs/projects/weather.jpg");
}

.img-predic {
  background-image: url("/src/imgs/projects/worldCupPredictions.jpg");
}

.img-login {
  background-image: url("/src/imgs/projects/login.jpg");
}

.img-tateti {
  background-image: url("/src/imgs/projects/taTeTi.jpg");
}

.transform-1 {
  transform: translateX(0%);
}
.transform-2 {
  transform: translateX(-800px);
}
.transform-3 {
  transform: translateX(-1600px);
}
.transform-4 {
  transform: translateX(-2400px);
}
.transform-5 {
  transform: translateX(-3200px);
}
.transform-6 {
  transform: translateX(-4000px);
}

.project-card {
  z-index: 9999;
  width: 800px;
  height: 550px;
  cursor: pointer;
}

.project-card:hover .project-card-description {
  transform: translateY(-70px);
}

.project-card:hover .project-card-image {
  transform: translateY(-70px);
}

.project-card-image {
  background-size: 800px;
  background-repeat: no-repeat;
  width: 800px;
  height: 450px;
  transition: transform 0.3s;
}

.project-card-title {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 100;
  margin: 0;
  padding: 10px 0;
  background-color: rgb(150, 50, 150);
  width: 100%;
  bottom: 0;
  position: absolute;
}

.project-card-description {
  transition: transform 0.3s;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 26px;
  position: absolute;
  width: 100%;
  margin: 0;
  background-color: rgb(150, 50, 150);
  bottom: -70px;
  padding-bottom: 10px;
}

.project-navigation {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 880px;
  overflow: hidden;
  margin: 86px auto 0 auto;
  left: 0;
  right: 0;
  padding: 0;
}

.project-navigation-button {
  background-color: rgba(10, 10, 10, 0.75);
  color: rgb(255, 255, 255);
  border: none;
  height: 450px;
  width: 40px;
}

.project-navigation-button-text {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

.project-navigation-button-text:hover {
  background-color: rgb(150, 50, 150);
  transform: scale(1.1);
}

/* --------------- CONTACT section --------------- */
.container-img-contact {
  background-image: url("/src/imgs/photo-05.jpg");
}

.contact-container {
  display: flex;
  background-color: rgba(255, 255, 255, 0.75);
  flex-direction: column;
  max-width: 400px;
  padding: 40px;
  margin-left: 86px;
}

.contact-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  height: 50px;
  width: 100%;
  font-size: 18px;
  outline: none;
  margin-bottom: 16px;
}

.contact-input:focus {
  color: rgb(10, 10, 10, 0.75);
  border-bottom: 1px solid rgb(150, 50, 150);
}

.contact-btn {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  height: 50px;
  width: 64px;
  font-size: 18px;
  cursor: pointer;
  float: right;
  margin-top: 32px;
}

.contact-btn:hover {
  color: rgb(150, 50, 150);
  border-bottom: 1px solid rgb(150, 50, 150);
}

.textarea {
  height: 120px;
  resize: none;
}

.contact-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submit-state {
  color: rgb(150, 50, 150);
  height: 50px;
  width: 164px;
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 920px) {
  /* --------------- PROJECTS section --------------- */
  .project-container {
    width: 600px;
  }

  .project-container-transform {
    width: 600px;
    height: 337.5px;
  }

  .transform-1 {
    transform: translateX(0%);
  }
  .transform-2 {
    transform: translateX(-600px);
  }
  .transform-3 {
    transform: translateX(-1200px);
  }
  .transform-4 {
    transform: translateX(-1800px);
  }
  .transform-5 {
    transform: translateX(-2400px);
  }
  .transform-6 {
    transform: translateX(-3000px);
  }

  .project-card {
    z-index: 9999;
    width: 600px;
    height: 550px;
    cursor: pointer;
  }

  .project-card-image {
    background-size: 600px;
    width: 600px;
    height: 337.5px;
  }

  .project-navigation {
    width: 680px;
  }

  .project-navigation-button {
    height: 337.5px;
  }
}

@media screen and (max-width: 768px) {
  .card-main-container {
    padding: 30px;
  }

  .card-main-title {
    font-size: 32px;
  }

  .card-main-subtitle {
    font-size: 18px;
  }

  /* --------------- PROJECTS section --------------- */
  .project-container {
    width: 500px;
  }

  .project-container-transform {
    width: 500px;
    height: 281.25px;
  }

  .transform-1 {
    transform: translateX(0%);
  }
  .transform-2 {
    transform: translateX(-500px);
  }
  .transform-3 {
    transform: translateX(-1000px);
  }
  .transform-4 {
    transform: translateX(-1500px);
  }
  .transform-5 {
    transform: translateX(-2000px);
  }
  .transform-6 {
    transform: translateX(-2500px);
  }

  .project-card {
    width: 500px;
    height: 381.25px;
  }

  .project-card-image {
    background-size: 500px;
    width: 500px;
    height: 281.25px;
  }

  .project-card-title {
    font-size: 24px;
  }

  .project-card-description {
    font-size: 12px;
  }

  .project-navigation {
    width: 580px;
  }

  .project-navigation-button {
    height: 281.25px;
  }
}

@media screen and (max-width: 580px) {
  .menu-container {
    top: 200px;
  }

  .card-main-container {
    padding: 10px 20px;
    margin: 32px;
  }

  .height-for-absolutes {
    height: 532px;
  }

  /* --------------- INTRO section --------------- */
  .card-intro-container {
    width: 90%;
    margin: auto;
  }

  .card-intro-title {
    padding: 0;
    font-size: 28px;
    margin-left: 20px;
  }

  .card-intro-subtitle-container {
    padding: 20px;
  }

  .card-intro-subtitle {
    margin: 10px 0;
  }

  .card-intro-btn {
    margin-left: 20px;
  }

  /* --------------- ABOUT section --------------- */
  .card-about-container {
    margin: auto;
    width: 80%;
    padding: 20px;
  }

  /* --------------- PROJECTS section --------------- */
  .project-container {
    width: 200px;
  }

  .project-container-transform {
    width: 200px;
    height: 200px;
    background-color: aqua;
    margin: 0;
    padding: 0;
  }

  .transform-1 {
    transform: translateX(0%);
  }
  .transform-2 {
    transform: translateX(-200px);
  }
  .transform-3 {
    transform: translateX(-400px);
  }
  .transform-4 {
    transform: translateX(-600px);
  }
  .transform-5 {
    transform: translateX(-800px);
  }
  .transform-6 {
    transform: translateX(-1000px);
  }

  .project-card {
    width: 200px;
    height: 200px;
  }

  .project-card:hover .project-card-description {
    transform: translateY(-60px);
  }

  .project-card:hover .project-card-image {
    transform: translateY(-60px);
  }

  .project-card-description {
    bottom: -70px;
    line-height: 16px;
  }

  .project-card-image {
    background-size: 200px;
    background-position-y: center;
    width: 200px;
    height: 200px;
    background-color: rgb(150, 50, 150);
  }

  .project-card-title {
    font-size: 16px;
  }

  .project-card-description {
    font-size: 10px;
  }

  .project-navigation {
    width: 280px;
  }

  .project-navigation-button {
    height: 200px;
    padding: 0;
  }

  /* --------------- CONTACT section --------------- */
  .contact-container {
    padding: 20px;
    margin: 0 32px;
  }

  .contact-input {
    padding: 0;
  }

  .contact-btn {
    padding: 0;
  }

  .contact-footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
}
